In [1]:
%reload_ext sql

In [2]:
%%sql mysql+pymysql://root:MyN3wP4ssw0rd@localhost:3306/mobile

SELECT 1+1;

1 rows affected.

[(2,)]

# 1-Check mobile feature and price list ?

In [9]:
%%sql
SELECT
  phone_name,
  price
FROM mobile
ORDER BY 1 limit 10

 * mysql+pymysql://root:***@localhost:3306/mobile
10 rows affected.

[('Apple iPhone 11 128 GB, (Product) Red (without Earpods and Adapter)', 48900),
 ('Apple iPhone 11 128 GB, Black (without Earpods and Adapter)', 48900),
 ('Apple iPhone 11 128 GB, Purple (without Earpods and Adapter)', 48900),
 ('Apple iPhone 11 128 GB, White (without Earpods and Adapter)', 48900),
 ('Apple iPhone 11 128 GB, Yellow (without Earpods and Adapter)', 48900),
 ('Apple iPhone 11 64 GB, Black (without Earpods and Adapter)', 43900),
 ('Apple iPhone 11 64 GB, Green (without Earpods and Adapter)', 43900),
 ('Apple iPhone 11 64 GB, Purple (without Earpods and Adapter)', 43900),
 ('Apple iPhone 11 64 GB, Yellow (without Earpods and Adapter)', 43900),
 ('Apple iPhone 12 128 GB, Black', 59900)]

# 2- Find out the price of 5 most expensive phone ?

In [8]:
%%sql
SELECT
  phone_name,
  price
FROM mobile
ORDER BY price DESC limit 5

 * mysql+pymysql://root:***@localhost:3306/mobile
5 rows affected.

[('Apple iPhone 14 Pro Max 1 TB, Silver', 189900),
 ('Apple iPhone 14 Pro Max 1 TB, Gold', 189900),
 ('Apple iPhone 14 Pro Max 1 TB, Deep Purple', 189900),
 ('Apple iPhone 14 Pro Max 1 TB, Space Black', 189900),
 ('Apple iPhone 14 Pro 1 TB, Silver', 179900)]

# 3- Find out the five most cheapest Phone ?

In [10]:
%%sql
SELECT
  phone_name,
  price
FROM mobile
ORDER BY price ASC limit 5

 * mysql+pymysql://root:***@localhost:3306/mobile
5 rows affected.

[('itel A23 Pro 8 GB, 1 GB RAM, Lake Blue, Mobile Phone', 4040),
 ('itel A23 Pro 8 GB, 1 GB RAM, Sapphire Blue, Mobile Phone', 4040),
 ('JioPhone Next 32 GB, 2 GB RAM, Blue Smartphone, LS1542QWN', 4499),
 ('JioPhone Next 32 GB, 2 GB RAM, Black Smartphone, LS1542QWN', 4499),
 ('Samsung Galaxy M01 Core 16 GB, 1 GB, Red, Mobile Phone', 5199)]

# 4-List of top-5 samsung phone with price and all feature.

In [11]:
%%sql
SELECT
  phone_name,
  price
FROM mobile
WHERE SUBSTRING(phone_name, 1, 7) = "Samsung"
ORDER BY price DESC limit 5

 * mysql+pymysql://root:***@localhost:3306/mobile
5 rows affected.

[('Samsung Galaxy Z Fold4 5G 512 GB, 12 GB RAM, Beige, Mobile Phone', 164999),
 ('Samsung Galaxy Z Fold4 5G 512 GB, 12 GB RAM, Phantom Black, Mobile Phone', 164999),
 ('Samsung Galaxy Z Fold2 256 GB, 12 GB RAM, Mystic Bronze, Mobile Phone', 119999),
 ('Samsung S22 Ultra 5G 512 GB, 12 GB RAM, Green, Smartphone', 118999),
 ('Samsung S22 Ultra 5G 512 GB, 12 GB RAM, Burgundy, Mobile Phone', 118999)]