In [1]:
%reload_ext sql

In [2]:
%%sql mysql+pymysql://root:MyN3wP4ssw0rd@localhost:3306/pizza_runner

SELECT 1+1;

1 rows affected.

[(2,)]

## A-1 How many pizzas were ordered?

In [5]:
%%sql

SELECT Count(*) AS pizza_ordered
FROM   customer_orders

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
1 rows affected.

[(14,)]

## A-2 How many unique customer orders were made?

In [6]:
%%sql

SELECT Count(DISTINCT( order_id )) AS distinct_order_id
FROM   customer_orders

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
1 rows affected.

[(10,)]

## A-3 How many successful orders were delivered by each runner?

In [7]:
%%sql

SELECT runner_id,
       Count(*) AS order_delivered
FROM   runner_orders
WHERE  cancellation = "not cancelled"
GROUP  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
3 rows affected.

[(1, 4), (2, 3), (3, 1)]

## A-4 How many of each type of pizza was delivered?

In [8]:
%%sql

SELECT pizza_name,
       Count(*)
FROM   customer_orders
       RIGHT JOIN runner_orders using(order_id)
       LEFT JOIN pizza_names using(pizza_id)
WHERE  cancellation = "not cancelled"
GROUP  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
2 rows affected.

[('Meatlovers', 9), ('Vegetarian', 3)]

## A-5 How many Vegetarian and Meatlovers were ordered by each customer?

In [9]:
%%sql

SELECT customer_id,
       pizza_name,
       Count(*) AS pizza_ordered
FROM   customer_orders
       LEFT JOIN pizza_names using (pizza_id)
GROUP  BY 1,
          2
ORDER  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
8 rows affected.

[(101, 'Meatlovers', 2),
 (101, 'Vegetarian', 1),
 (102, 'Meatlovers', 2),
 (102, 'Vegetarian', 1),
 (103, 'Meatlovers', 3),
 (103, 'Vegetarian', 1),
 (104, 'Meatlovers', 3),
 (105, 'Vegetarian', 1)]

## A-6 What was the maximum number of pizzas delivered in a single order?

In [10]:
%%sql

SELECT order_id,
       Count(*)
FROM   runner_orders
       LEFT JOIN customer_orders USING(order_id)
WHERE  cancellation = "not cancelled"
GROUP  BY 1
ORDER  BY 2 DESC
LIMIT  1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
1 rows affected.

[(4, 3)]

## A-7 For each customer, how many delivered pizzas had at least 1 change and how many had no changes?

In [11]:
%%sql

SELECT customer_id,
       Sum(CASE
             WHEN exclusions <> 0
                   OR extras <> 0 THEN 1
             ELSE 0
           END) AS changed,
       Sum(CASE
             WHEN exclusions = 0
                  AND extras = 0 THEN 1
             ELSE 0
           END) AS No_changed
FROM   runner_orders
       LEFT JOIN customer_orders using(order_id)
WHERE  cancellation = "not cancelled"
GROUP  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
5 rows affected.

[(101, Decimal('0'), Decimal('2')),
 (102, Decimal('0'), Decimal('3')),
 (103, Decimal('3'), Decimal('0')),
 (104, Decimal('2'), Decimal('1')),
 (105, Decimal('1'), Decimal('0'))]

## A-8 How many pizzas were delivered that had both exclusions and extras?

In [12]:
%%sql

SELECT customer_id,
       Count(*) AS delivered_with_exclusions_extras
FROM   customer_orders
       JOIN runner_orders using(order_id)
WHERE  cancellation = "not cancelled"
       AND exclusions <> 0
       AND extras <> 0
GROUP  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
1 rows affected.

[(104, 1)]

## A-9 What was the total volume of pizzas ordered for each hour of the day?

In [13]:
%%sql

SELECT Hour(order_time),
       Count(*) AS pizza_ordered
FROM   customer_orders
GROUP  BY 1
ORDER  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
6 rows affected.

[(11, 1), (13, 3), (18, 3), (19, 1), (21, 3), (23, 3)]

## A-10 What was the volume of orders for each day of the week?

In [14]:
%%sql

SELECT Dayname(order_time),
       Count(*) AS Volume_of_orders
FROM   customer_orders
GROUP  BY 1
ORDER  BY 1 DESC

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
4 rows affected.

[('Wednesday', 5), ('Thursday', 3), ('Saturday', 5), ('Friday', 1)]

## B-1 How many runners signed up for each 1 week period? (i.e. week starts 2021-01-01)

In [15]:
%%sql

SELECT Concat("week:", Ceil(( Datediff(registration_date, "2021-01-01")+ 1 ) / 7)) AS Week,
       Count(*)                           AS runner_signedup
FROM   runners
GROUP  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
3 rows affected.

[('Week:1', 2), ('Week:2', 1), ('Week:3', 1)]

## B-2 What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order?

In [16]:
%%sql

SELECT runner_id,
       Round(Avg(Timestampdiff(second, order_time, pickup_time) / 60), 0) AS
       Avg_time
FROM   customer_orders
       LEFT JOIN runner_orders using(order_id)
WHERE  cancellation = "not cancelled"
GROUP  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
3 rows affected.

[(1, Decimal('16')), (2, Decimal('24')), (3, Decimal('10'))]

## B-3 Is there any relationship between the number of pizzas and how long the order takes to prepare?

In [17]:
%%sql

SELECT order_id,
       Count(*)
       AS Quantity,
       Round(Avg(Timestampdiff(minute, order_time, pickup_time)), 0)
       AS
       total_time_taken,
       Round(Avg(Timestampdiff(minute, order_time, pickup_time)) / Count(*), 0)
       AS
       Time_taken_per_pcs
FROM   customer_orders
       LEFT JOIN runner_orders using(order_id)
WHERE  cancellation = "not cancelled"
GROUP  BY 1
ORDER  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
8 rows affected.

[(1, 1, Decimal('10'), Decimal('10')),
 (2, 1, Decimal('10'), Decimal('10')),
 (3, 2, Decimal('21'), Decimal('11')),
 (4, 3, Decimal('29'), Decimal('10')),
 (5, 1, Decimal('10'), Decimal('10')),
 (7, 1, Decimal('10'), Decimal('10')),
 (8, 1, Decimal('20'), Decimal('20')),
 (10, 2, Decimal('15'), Decimal('8'))]

## B-4 What was the average distance travelled for each customer?

In [18]:
%%sql

SELECT customer_id,
       Round(Avg(distance), 0) AS avg_distance_travelled
FROM   runner_orders
       LEFT JOIN customer_orders using(order_id)
WHERE  cancellation = "not cancelled"
GROUP  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
5 rows affected.

[(101, 20.0), (102, 17.0), (103, 23.0), (104, 10.0), (105, 25.0)]

## B-5 What was the difference between the longest and shortest delivery times for all orders?

In [19]:
%%sql

SELECT Max(duration)                 AS Max_duration,
       Min(duration)                 Min_duration,
       Max(duration) - Min(duration) AS diff_Max_duration_Min_duration
FROM   runner_orders
WHERE  duration <> "null"

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
1 rows affected.

[('40', '10minutes', 30.0)]

## B-6 What was the average speed for each runner for each delivery and do you notice any trend for these values?

In [20]:
%%sql

SELECT order_id,
       runner_id,
       Round(distance / ( duration / 60 ), 0) AS speed_KM_Per_H
FROM   runner_orders
WHERE  duration <> "null"
       AND distance <> "null"

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
8 rows affected.

[(1, 1, 38.0),
 (2, 1, 44.0),
 (3, 1, 40.0),
 (4, 2, 35.0),
 (5, 3, 40.0),
 (7, 2, 60.0),
 (8, 2, 94.0),
 (10, 1, 60.0)]

## B-7 What is the successful delivery percentage for each runner?

In [21]:
%%sql

SELECT runner_id,
       Round(SUM(IF(cancellation = "not cancelled", 1, 0)) * 100 / Count(*), 0)
       AS
       Sucessful_delivery_Percentage
FROM   runner_orders
GROUP  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
3 rows affected.

[(1, Decimal('100')), (2, Decimal('75')), (3, Decimal('50'))]

## C-1 What are the standard ingredients for each pizza?

In [22]:
%%sql

SELECT pizza_id,
       Group_concat(topping_name) AS inrident_used
FROM   pizza_recipes_mod m
       LEFT JOIN pizza_toppings t
              ON m.toppings = t.topping_id
GROUP  BY 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
2 rows affected.

[(1, 'Bacon,BBQ Sauce,Beef,Cheese,Chicken,Mushrooms,Pepperoni,Salami'),
 (2, 'Cheese,Mushrooms,Onions,Peppers,Tomatoes,Tomato Sauce')]

## C-2 What was the most commonly added extra?

In [23]:
%%sql

WITH sub AS
(
       SELECT order_id,
              customer_id,
              pizza_id,
              Substring_index(exclusions, ",", 1) AS exclusions,
              Substring_index(extras, ",", 1)     AS extras
       FROM   customer_orders
       UNION
       SELECT order_id,
              customer_id,
              pizza_id,
              Substring_index(exclusions, ",",-1) AS exclusions,
              Substring_index(extras, ",",-1)     AS extras
       FROM   customer_orders ), sub_2 AS
(
          SELECT    *
          FROM      sub
          LEFT JOIN pizza_toppings AS p
          ON        p.topping_id = sub.extras )
SELECT topping_name
         ,
         Count(*) AS no_of_count
FROM     sub_2
WHERE    topping_name <> ""
GROUP BY 1 limit 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
1 rows affected.

[('Bacon', 4)]

## C-3 What was the most common exclusion?

In [24]:
%%sql

WITH sub AS
(
       SELECT Row_number() OVER () AS rn,
              order_id,
              customer_id,
              pizza_id,
              Substring_index(exclusions, ",", 1) AS exclusions,
              Substring_index(extras, ",", 1)     AS extras
       FROM   customer_orders
       UNION
       SELECT Row_number() OVER() AS rn,
              order_id,
              customer_id,
              pizza_id,
              Substring_index(exclusions, ",",-1) AS exclusions,
              Substring_index(extras, ",",-1)     AS extras
       FROM   customer_orders ), sub_2 AS
(
          SELECT    *
          FROM      sub
          LEFT JOIN pizza_toppings AS p
          ON        p.topping_id = sub.exclusions )
SELECT topping_name
         ,
         Count(*) AS no_of_count
FROM     sub_2
WHERE    topping_name <> ""
GROUP BY 1 limit 1

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
1 rows affected.

[('Cheese', 5)]

## C-4 Generate an order item for each record in the customers_orders table in the format of one of the following:
- Meat Lovers
- Meat Lovers - Exclude Beef
- Meat Lovers - Extra Bacon
- Meat Lovers - Exclude Cheese, Bacon - Extra Mushroom, Peppers

In [25]:
%%sql

WITH sub
     AS (SELECT c.order_id,
                c.customer_id,
                n.pizza_name,
                p.topping_name AS exclusions,
                t.topping_name AS extras
         FROM   customer_orders_mod c
                LEFT JOIN pizza_names n
                       ON n.pizza_id = c.pizza_id
                LEFT JOIN pizza_toppings p
                       ON c.exclusions = p.topping_id
                LEFT JOIN pizza_toppings t
                       ON c.extras = t.topping_id),
     sub_2
     AS (SELECT order_id,
                customer_id,
                pizza_name,
                Group_concat(DISTINCT( exclusions )) AS exclusion,
                Group_concat(DISTINCT( extras ))     AS extras
         FROM   sub
         GROUP  BY 1,
                   2,
                   3)
SELECT order_id,
       customer_id,
       pizza_name,
       Concat(pizza_name, COALESCE(Concat("extras-", exclusion), ""),
       COALESCE(Concat("extras-", extras), "")) AS Ordered_pizza
FROM   sub_2

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
12 rows affected.

[(1, 101, 'Meatlovers', 'Meatlovers'),
 (2, 101, 'Meatlovers', 'Meatlovers'),
 (3, 102, 'Meatlovers', 'Meatlovers'),
 (3, 102, 'Vegetarian', 'Vegetarian'),
 (4, 103, 'Meatlovers', 'Meatlovers Extras-Cheese'),
 (4, 103, 'Vegetarian', 'Vegetarian Extras-Cheese'),
 (5, 104, 'Meatlovers', 'Meatlovers Extras-Bacon'),
 (6, 101, 'Vegetarian', 'Vegetarian'),
 (7, 105, 'Vegetarian', 'Vegetarian Extras-Bacon'),
 (8, 102, 'Meatlovers', 'Meatlovers'),
 (9, 103, 'Meatlovers', 'Meatlovers Extras-Cheese Extras-Bacon,Chicken'),
 (10, 104, 'Meatlovers', 'Meatlovers Extras-BBQ Sauce,Mushrooms Extras-Bacon,Cheese')]

## C-5 Generate an alphabetically ordered comma separated ingredient list for each pizza order from the customer_orders table and add a 2x in front of any relevant ingredients
For example: "Meat Lovers: 2xBacon, Beef, ... , Salami"

In [26]:
%%sql

WITH sub
     AS (SELECT *
         FROM   customer_orders_mod
                left join pizza_recipes_mod USING (pizza_id)),
     sub_2
     AS (SELECT DISTINCT rn,
                         order_id,
                         pizza_id,
                         exclusions AS toppings
         FROM   sub
         UNION ALL
         SELECT DISTINCT rn,
                         order_id,
                         pizza_id,
                         extras AS toppings
         FROM   sub
         UNION ALL
         SELECT DISTINCT rn,
                         order_id,
                         pizza_id,
                         toppings
         FROM   sub),
     sub_3
     AS (SELECT rn,
                order_id,
                pizza_id,
                topping_name,
                Count(*) AS count
         FROM   sub_2 s
                left join pizza_toppings p
                       ON s.toppings = p.topping_id
         GROUP  BY 1,
                   2,
                   3,
                   4)
SELECT rn,
       order_id,
       pizza_id,
       Group_concat(IF(count = 2, Concat("2*", topping_name), topping_name)) AS
       ingridient
FROM   sub_3
GROUP  BY 1,
          2,
          3

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
14 rows affected.

[(1, 1, 1, 'Salami,Pepperoni,Mushrooms,Chicken,Cheese,Beef,BBQ Sauce,Bacon'),
 (2, 2, 1, 'Salami,Pepperoni,Mushrooms,Chicken,Cheese,Beef,BBQ Sauce,Bacon'),
 (3, 3, 1, 'Salami,Pepperoni,Mushrooms,Chicken,Cheese,Beef,BBQ Sauce,Bacon'),
 (4, 3, 2, 'Tomato Sauce,Tomatoes,Peppers,Onions,Mushrooms,Cheese'),
 (5, 4, 1, '2*Cheese,Salami,Pepperoni,Mushrooms,Chicken,Beef,BBQ Sauce,Bacon'),
 (6, 4, 1, '2*Cheese,Salami,Pepperoni,Mushrooms,Chicken,Beef,BBQ Sauce,Bacon'),
 (7, 4, 2, '2*Cheese,Tomato Sauce,Tomatoes,Peppers,Onions,Mushrooms'),
 (8, 5, 1, '2*Bacon,Salami,Pepperoni,Mushrooms,Chicken,Cheese,Beef,BBQ Sauce'),
 (9, 6, 2, 'Tomato Sauce,Tomatoes,Peppers,Onions,Mushrooms,Cheese'),
 (10, 7, 2, 'Bacon,Tomato Sauce,Tomatoes,Peppers,Onions,Mushrooms,Cheese'),
 (11, 8, 1, 'Salami,Pepperoni,Mushrooms,Chicken,Cheese,Beef,BBQ Sauce,Bacon'),
 (12, 9, 1, '2*Cheese,2*Bacon,2*Chicken,Salami,Pepperoni,Mushrooms,Beef,BBQ Sauce'),
 (13, 10, 1, 'Salami,Pepperoni,Mushrooms,Chicken,Cheese,Beef,BBQ Sauce,Bacon'),
 (14, 10, 1, '2*BBQ Sauce,2*Mushrooms,2*Bacon,2*Cheese,Salami,Pepperoni,Chicken,Beef')]

## C-6 What is the total quantity of each ingredient used in all delivered pizzas sorted by most frequent first?

In [27]:
%%sql

WITH sub
     AS (SELECT *
         FROM   runner_orders
                RIGHT JOIN customer_orders_mod using(order_id)
                JOIN pizza_recipes_mod using(pizza_id)
         WHERE  cancellation = "not cancelled"),
     sub_2
     AS (SELECT DISTINCT rn,
                         pizza_id,
                         order_id,
                         toppings
         FROM   sub
         UNION ALL
         SELECT DISTINCT rn,
                         pizza_id,
                         order_id,
                         exclusions AS toppings
         FROM   sub
         UNION ALL
         SELECT DISTINCT rn,
                         pizza_id,
                         order_id,
                         extras AS toppings
         FROM   sub),
     sub_3
     AS (SELECT *
         FROM   sub_2 s
                JOIN pizza_toppings p
                  ON s.toppings = p.topping_id)
SELECT topping_name,
       Count(*) AS count_of_ingridient
FROM   sub_3
GROUP  BY 1
ORDER  BY 2 DESC

 * mysql+pymysql://root:***@localhost:3306/pizza_runner
12 rows affected.

[('Cheese', 16),
 ('Mushrooms', 13),
 ('Bacon', 12),
 ('BBQ Sauce', 10),
 ('Beef', 9),
 ('Chicken', 9),
 ('Pepperoni', 9),
 ('Salami', 9),
 ('Onions', 3),
 ('Peppers', 3),
 ('Tomatoes', 3),
 ('Tomato Sauce', 3)]